{% extends "layout.njk" %}

{% block content %}
  <div class="item billboard">
    <h1 class="title"><a href="/" class="title-link">Jeroen Wellner</a></h1>
    <p class="tagline">Mobile &amp; Web Development</p>
  </div>
  <div class="container home">
    <p style="font-style: italic;">"Building things for the Internet since 1996"</p>
    <a href="mailto:info@wllnr.nl">info@wllnr.nl</a>
  </div>
{% endblock %}